<header>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!--Icono-->
            <div>
                <img src="assets/images/icon.png" alt="" width="40" height="40" class="d-inline-block align-text-center m-2 "> Productos
            </div>
            <!--Fin Icono-->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <!--Boton Close-->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="assets/images/elect02.png" alt="" width="40" height="40" class="d-inline-block align-text-top "> Productos</h5>

                    <button type="button" class="btn-close bg-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!--Fin Boton Close-->
                <div class="offcanvas-body text-white justify-content-end">
                    <ul class="navbar-nav text-white ">
                        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
                            <a class="nav-link text-white" [routerLink]="['/inicio']">
                                <img src="assets/icons/home.png" alt="Inicio" title="Inicio" width="40px" height="40px">
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
                            <a class="nav-link text-white" [routerLink]="['/lista-productos']">
                                <img src="assets/icons/list.png" alt="Listado" title="Listado" width="40px" height="40px">
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
                            <a class="nav-link text-white" [routerLink]="['/agregar-producto']">
                                <img src="assets/icons/add.png" alt="Agregar" title="Agregar" width="40px" height="40px">
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="!isLogged">
                            <a class="nav-link text-white" [routerLink]="['/login']"><img src="assets/icons/login.png" alt="Ingresar" title="Ingresar" width="40px" height="40px"></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="!isLogged">
                            <a class="nav-link text-white" [routerLink]="['/signin']"><img src="assets/icons/signin.png" alt="Registrarse" title="Registrarse" width="40px" height="40px"></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged" (click)="onLogOut()" >
                            <a class="nav-link text-white"  ><img src="assets/icons/logout.png" alt="Salir" title="Salir" width="40px" height="40px"></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
                            <a class="nav-link text-white" [routerLink]="['/inicio']"><img src="assets/icons/more.png" alt="Novedades" title="Novedades" width="40px" height="40px"></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="!isLogged">
                            <a class="nav-link text-white" [routerLink]="['/inicio']"><img src="assets/icons/lamp.png" alt="Ayuda" title="Ayuda" width="40px" height="40px"></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>


</header>
