
nav {
    background-color: #285B2F;
    color: white;
    opacity: 0.88;
}

nav button {
    background-color: #285B2F;
    color: #17421D;

}

nav button,
.offcanvas {
    background-color: #285B2F;
    color: white;
    opacity: 0.97;
}

