.container{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {

      opacity: 0.8;
      color: white;
      background-color: #2C5D33;
      border-color: #1f4a25;
      border-radius: 1em;

}




#modalAyuda{
  border-radius: 5px;
  border-color: #15351a;
  background-color: #2C5D33;
  opacity: 0.9;
  color: white;
 }
