<p>login works!</p>
<div class="container mt-5">
    <div class="row justify-content-center mt-5">

        <h2>LOGIN</h2>

    </div>
</div>




<!--


<div class="container mt-5">


  <div *ngIf="isLogged ; else loggedOut">
      <h2>Ya se ha Inicado Sesión Previamente</h2>

  </div>



  <ng-template #loggedOut>

      <div class="row justify-content-center mt-5">


          <div class="text-center d-flex justify-content-center  mt-5 ms-1 me-1" role="alert">
              <div class="alert ">
                  <h4 class=""><strong> SESIÓN DE USUARIOS </strong></h4>
              </div>
          </div>

          <div class="loginBox mt-0 mb-5">
              <img class="user" src="assets/images/icon.png" height="100px" width="100px">
              <h3>Productos</h3>
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-group">

                      <input id="uname" type="text" placeholder="Usuario" name="username" id="username" class="form-control" [(ngModel)]="username" required>

                      <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required>

                  </div>
                  <div class="form-group">
                      <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                  </div>

              </form>


              <a href="#">Has Olvidado la Contraseña?<br> </a>
              <div class="text-center">
                  <p style="color: #2C5D33;">Registrarse</p>
              </div>

          </div>
      </div>

  </ng-template>


</div>


-->