h1 {
  span {
      opacity: 0.8;
      color: white;
      background-color: #2C5D33;
      border-color: #1f4a25;
  }
}


#filtro {
  opacity: 0.7;
  color: white;
  background-color: #2C5D33;
  border-color: #1f4a25;
}

#table {
  background-color: #2C5D33;
  border: #14411a;
  opacity: 0.9;
  color: white;
  thead {
      background-color: #1c3d20;
      border: #254d2a;
      .btn-sm {
          background-color: #254728;
          border: #0c3011;
          color: white;
      }
  }
  tbody {
      border: #0c3011;
  }
}


#formulario{

  form,div, div.div{
    border-radius: 5px;
    border-color: #15351a;
    background-color: #2C5D33;
    opacity: 0.9;
    color: white;
    input{
      background-color: #0c3011;
      color: white;
    }

  }
 }

#pagination{
background-color: #2C5D33;
border: #14411a;
opacity: 0.9;
color: white;
.btn {
  background-color: none;
  border: #0c3011;
  color: white;
}
}
