div .alert {
    opacity: 0.8;
}

table {
    background-color: rgb(211, 210, 210);
    opacity: 0.8;
}

#aviso {
    font: 50 0.8em 'Metrophobic', sans-serif;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    max-width: 100em;
    opacity: 0.8;
    color: white;
    background-color: #2C5D33;
    border-color: #1f4a25;
    //animation: backInDown 1.3s;
    button {
        font: 50 0.8em 'Metrophobic', sans-serif;
        background-color: #2C5D33;
        border-color: #1f4a25;
        color: white;
    }
}


//---------------------------LOGIN---------------------------------
#particles-js {
    height: 100%
}

.formulario {
    position: relative;
    width: 350px;
    min-height: 200px;
    background: #D2EED6;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box


}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

h4 {
    border-radius: 0.6em;
    color: #2C5D33;
    background-color: #D2EED6;
    //opacity: 0.5;
    padding: 0.5em;
    text-align: center
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #78C182;
    text-align: center
}

.formulario input {
    width: 100%;
    margin-bottom: 30px
}

.formulario input[type="text"],
.formulario input[type="password"] {
    border: none;
    border-bottom: 2px solid #2C5D33;
    outline: none;
    height: 40px;
    color: #2C5D33;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.formulario input[type="text"]:hover,
.formulario input[type="password"]:hover {
    color: #1f5026;
    border: 1px solid #28572f;
    box-shadow: 0 0 5px rgba(3, 54, 3, 0.3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 #2C5D33
}

.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus {
    border-bottom: 2px solid #2C5D33
}

.inputBox {
    position: relative
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #2C5D33
}

.formulario input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #2C5D33;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.formulario a {
    color: #2C5D33;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

a:hover {
    color: #2C5D33
}

p {
    color: #2C5D33
}

//---------------------------FIN LOGIN---------------------------------
