<!-- LISTADO DE PRODUCTOS -->
<div class="container text-center mt-5  p-1">

<!-- TITULO EDICCION DE PRODUCTOS -->
<div class="d-flex flex-row justify-content-center bd-highlight mt-5  p-3 ">
  <h1 class="mt-3">
      <span class="badge  text-decoration-underline">Listado de Productos</span>

             <!-- BTN MODAL INFO  -->
             <button type="button" class="btn p-1  " data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
              <img src="assets/icons/idea.png" alt="Inicio" title="Inicio" width="50px" height="50px">
              </button>
              <!-- FIN BTN MODAL INFO -->
  </h1>
</div>
<!-- FIN TITULO EDICCION DE PRODUCTOS -->




    <!--FILTRO Y UTILIDADES-->
    <div class="d-flex flex-row justify-content-center mt-3 ms-2">
        <!-- FILTER COMPONENTE -->
        <div class="text-left me-5 ms-0">
            <div class="d-flex flex-row justify-content-center mt-3">
                <!-- VALOR BUSQUEDA -->
                <div class="text-left ms-0">
                    <h2>
                        <span class="badge bg-none ms-0"><img src="./assets/icons/products-storage.png" alt="" width="45"
                          height="45" class=""></span>
                    </h2>
                </div>
                <!-- FIN  VALOR BUSQUEDA -->
                <!-- FORM FILTRO -->
                <div class="text-left ms-0 me-5 col-12">
                    <form class="d-flex flex-row text-left col-12">
                        <input  type="text" name="filtro" class="form-control bg-white" placeholder="Ingresar valor Búsqueda" aria-label="valor" id="filtro">

                        <!--BTN BUSQUEDA-->
                        <button type="submit" class="btn bg-none p-1 " onclick="listarProductosFilter()">
              <img src="./assets/icons/search02.png" alt="" width="45"
                height="45" class="">
            </button>
                        <!--FIN BTN BUSQUEDA-->


                        <!--BTN LIMPIAR-->
                        <button class="btn bg-none p-1 me-5" onclick="limpiarFiltro()">
              <img src="./assets/icons/recycle.png" alt="" width="45"
                height="45" class="">
            </button>
                        <!--FIN BTN LIMPIAR-->

                    </form>
                </div>
                <!-- FIN FORM FILTRO -->
            </div>
        </div>
        <!-- FIN FILTER COMPONENTE-->


        <!--BTN PDF-->
        <div class="p-1 ms-4">
            <a target="_blanck">
                <button type="button" class="btn bg-none p-1 m-2">
          <img src="assets/icons/pdf.png" alt="" width="45"
            height="45">
        </button>
            </a>
        </div>
        <!--BTN PDF-->

        <!--BTN EXCEL-->
        <div class="p-1 ">
            <a target="_blanck">
                <button type="button" class="btn bg-none p-1 m-2">
        <img src="assets/icons/excel.png" alt="" width="45"
          height="45">
      </button>
            </a>
        </div>
        <!--BTN EXCEL-->



    </div>
    <!--FIN FILTRO Y UTILIDADES-->





    <!-- TABLA PRODUCTOS -->
    <table table-condensed class="table table-bordered   table-hover text-center " id="table">

        <thead>
            <tr>
                <th class="">ID
                    <!-- BTN ORDER BY ID ASC DESC -->
                    <div class="d-flex justify-content-center ">

                            <button type="button" class="btn-sm  m-2" (click)="orderByDirection('id','asc')">
                <img src="assets/icons/sortUp.png" alt=""
                  width="15" height="15">
              </button>


                          <button type="button" class="btn-sm  m-2" (click)="orderByDirection('id','desc')">
              <img src="assets/icons/sortDown.png" alt=""
                width="15" height="15">
            </button>

                    </div>
                    <!-- FIN BTN ORDER BY ID ASC DESC -->

                </th>
                <th class="text-center">CÓDIGO
                        <!-- BTN ORDER BY CODIGO ASC DESC -->
                        <div class="d-flex justify-content-center ">
                          <a>
                            <button type="button" class="btn-sm  m-2" (click)="orderByDirection('codigo','asc')">
                <img src="assets/icons/sortUp.png" alt=""
                  width="15" height="15">
              </button>
                        </a>
                        <a>
                          <button type="button" class="btn-sm  m-2" (click)="orderByDirection('codigo','desc')">
              <img src="assets/icons/sortDown.png" alt=""
                width="15" height="15">
            </button>
                      </a>
                      </div>
                      <!-- FIN BTN ORDER BY CODIGO ASC DESC -->
                </th>
                <th class="text-center">IMAGEN
                    <!-- BTN ORDER BY IMAGEN ASC DESC -->
                    <div class="d-flex justify-content-center ">
                      <a>
                        <button type="button" class="btn-sm  m-2" (click)="orderByDirection('imagen','asc')">
            <img src="assets/icons/sortUp.png" alt=""
              width="15" height="15">
          </button>
                    </a>
                    <a>
                      <button type="button" class="btn-sm  m-2" (click)="orderByDirection('imagen','desc')">
          <img src="assets/icons/sortDown.png" alt=""
            width="15" height="15">
        </button>
                  </a>
                  </div>
                  <!-- FIN BTN ORDER BY IMAGEN ASC DESC -->
                </th>
                <th class="text-center">NOMBRE
                  <!-- BTN ORDER BY NOMBRE ASC DESC -->
                  <div class="d-flex justify-content-center ">
                    <a>
                      <button type="button" class="btn-sm  m-2" (click)="orderByDirection('nombre','asc')">
          <img src="assets/icons/sortUp.png" alt=""
            width="15" height="15">
        </button>
                  </a>
                  <a>
                    <button type="button" class="btn-sm  m-2" (click)="orderByDirection('nombre','desc')">
        <img src="assets/icons/sortDown.png" alt=""
          width="15" height="15">
      </button>
                </a>
                </div>
                <!-- FIN BTN ORDER BY NMOBRE ASC DESC -->
              </th>
              <th class="text-center">MARCA
                <!-- BTN ORDER BY MARCA ASC DESC -->
                <div class="d-flex justify-content-center ">
                  <a>
                    <button type="button" class="btn-sm  m-2" (click)="orderByDirection('marca','asc')">
        <img src="assets/icons/sortUp.png" alt=""
          width="15" height="15">
      </button>
                </a>
                <a>
                  <button type="button" class="btn-sm  m-2" (click)="orderByDirection('marca','desc')">
      <img src="assets/icons/sortDown.png" alt=""
        width="15" height="15">
    </button>
              </a>
              </div>
              <!-- FIN BTN ORDER BY MARCA ASC DESC -->
            </th>
            <th class="text-center">TIPO
              <!-- BTN ORDER BY TIPO ASC DESC -->
              <div class="d-flex justify-content-center ">
                <a>
                  <button type="button" class="btn-sm  m-2" (click)="orderByDirection('tipo','asc')">
      <img src="assets/icons/sortUp.png" alt=""
        width="15" height="15">
    </button>
              </a>
              <a>
                <button type="button" class="btn-sm  m-2" (click)="orderByDirection('tipo','desc')">
    <img src="assets/icons/sortDown.png" alt=""
      width="15" height="15">
  </button>
            </a>
            </div>
            <!-- FIN BTN ORDER BY TIPO ASC DESC -->
          </th>
          <th class="text-center">GRUPO
            <!-- BTN ORDER BY GRUPOE ASC DESC -->
            <div class="d-flex justify-content-center ">
              <a>
                <button type="button" class="btn-sm  m-2" (click)="orderByDirection('grupo','asc')">
    <img src="assets/icons/sortUp.png" alt=""
      width="15" height="15">
  </button>
            </a>
            <a>
              <button type="button" class="btn-sm  m-2" (click)="orderByDirection('grupo','desc')">
  <img src="assets/icons/sortDown.png" alt=""
    width="15" height="15">
</button>
          </a>
          </div>
          <!-- FIN BTN ORDER BY GRUPO ASC DESC -->
        </th>
        <th class="text-center">PESO
          <!-- BTN ORDER BY PESO ASC DESC -->
          <div class="d-flex justify-content-center ">
            <a>
              <button type="button" class="btn-sm  m-2" (click)="orderByDirection('peso','asc')">
  <img src="assets/icons/sortUp.png" alt=""
    width="15" height="15">
</button>
          </a>
          <a>
            <button type="button" class="btn-sm  m-2" (click)="orderByDirection('peso','desc')">
<img src="assets/icons/sortDown.png" alt=""
  width="15" height="15">
</button>
        </a>
        </div>
        <!-- FIN BTN ORDER BY PESO ASC DESC -->
      </th>
      <th class="text-center">PRECIO UNIDAD
        <!-- BTN ORDER BY PRECIO UNIDAD ASC DESC -->
        <div class="d-flex justify-content-center ">
          <a>
            <button type="button" class="btn-sm  m-2" (click)="orderByDirection('precioUnidad','asc')">
<img src="assets/icons/sortUp.png" alt=""
  width="15" height="15">
</button>
        </a>
        <a>
          <button type="button" class="btn-sm  m-2" (click)="orderByDirection('precioUnidad','desc')">
<img src="assets/icons/sortDown.png" alt=""
width="15" height="15">
</button>
      </a>
      </div>
      <!-- FIN BTN ORDER BY PRECIO UNIDAD ASC DESC -->
    </th>
    <th class="text-center">STOCK
      <!-- BTN ORDER BY PRECIO UNIDAD ASC DESC -->
      <div class="d-flex justify-content-center ">
        <a>
          <button type="button" class="btn-sm  m-2" (click)="orderByDirection('stock','asc')">
<img src="assets/icons/sortUp.png" alt=""
width="15" height="15">
</button>
      </a>
      <a>
        <button type="button" class="btn-sm  m-2" (click)="orderByDirection('stock','desc')">
<img src="assets/icons/sortDown.png" alt=""
width="15" height="15">
</button>
    </a>
    </div>
    <!-- FIN BTN ORDER BY PRECIO UNIDAD ASC DESC -->
  </th>
                <th>
                    <div class="d-flex justify-content-center mb-3">ACCION</div>
                </th>


            </tr>
        </thead>


        <!-- REGISTROS SIN FILTRO -->
        <tbody >
            <tr *ngFor="let producto of productos">
              <th scope="row">{{producto.id}}</th>
                <td >{{producto.codigo}}</td>
                <td class="bg-white"><a target="_blank"><img src="{{producto.imagen}}" alt="" width="80px" height="100px"></a></td>
                <td >{{producto.nombre}}</td>
                <td >{{producto.marca}}</td>
                <td >{{producto.tipo}}</td>
                <td >{{producto.grupo}}</td>
                <td >{{producto.peso}} Kg</td>
                <td >${{producto.precioUnidad}}</td>
                <td >{{producto.stock}}u</td>


                <td>
                    <div class="d-flex justify-content-center p-1">
                        <a >
                            <button type="button" class="btn bg-none " (click)="editarProducto(producto)">
                <img src="assets/icons/edit.png" alt="" width="45"
                  height="45">
              </button>
                        </a>
                        <a >
                    <!-- BTN MODAL DELETE CHECK  -->
                    <button type="button" class="btn p-1  " data-bs-toggle="modal" data-bs-target="#staticBackdrop02" (click)="setProductoSelect(producto)">
                      <img src="assets/icons/delete.png" alt="Inicio" title="Inicio" width="45" height="45">
                      </button>
                      <!-- FIN BTN MODAL DELETE CHECK -->
                        </a>




                    </div>
                </td>
            </tr>
        </tbody>
        <!-- FIN REGISTROS SIN FILTRO -->

    </table>
    <!-- FIN TABLA PRODUCTOS -->


    <!-- PAGINACION -->
    <div class="d-flex justify-content-center p-1" id="pagination">

        <!-- PRIMERA PÁGINA -->
        <a >
            <button type="button" class="btn  border-light alert-link  bg-none p-1 m-1" (click)="cambiarPagina(0)"> <img src="assets/icons/lastPagePrevious.png" alt="" width="25" height="25"></button>
        </a>
        <!-- FIN PRIMERA PÁGINA -->

        <!-- BTN LAST PAGINA -->
        <a >
          <button type="button" class="btn  border-light alert-link  bg-none p-1 m-1" (click)="paginaAnterior()"> <img src="assets/icons/pagePrevious.png" alt="" width="25" height="25"></button>
      </a>
        <!-- BTN LAST PAGINA -->

        <!--NUMEROS -->
        <!-- NUMERO 1 -->
        <a >
            <button class="btn border-none p-1" type="button" (click)="cambiarPagina(0)">
              <h2 class="text-white ">1</h2>
            </button>
        </a>
        <!-- FIN  NUMERO 1 -->

        <!-- NUMERO 2 -->
        <a >
          <button class="btn border-none p-1" type="button" (click)="cambiarPagina(1)">
            <h2 class="text-white ">2</h2>
          </button>
      </a>
        <!-- FIN  NUMERO 2 -->

        <!-- NUMERO 3 -->
        <a >
          <button class="btn border-none p-1" type="button" (click)="cambiarPagina(2)">
            <h2 class="text-white ">3</h2>
          </button>
      </a>
        <!-- FIN NUMERO 3 -->

        <!-- FIN NUMEROS -->

        <!-- BTN NEXT PAGINA -->
        <a >
          <button type="button" class="btn  border-light alert-link  bg-none p-1 m-1" (click)="paginaSiguiente()"> <img src="assets/icons/pageNext.png" alt="" width="25" height="25"></button>
      </a>
        <!-- FIN BTN NEXT PAGINA -->


        <!-- ÚLTIMA PÁGINA -->
        <a >
          <button type="button" class="btn  border-light alert-link  bg-none p-1 m-1" (click)="paginaSiguiente()"> <img src="assets/icons/lastPageNext.png" alt="" width="25" height="25"></button>
      </a>
        <!-- FIN ÚLTIMA PÁGINA -->

        <!-- INFO NRO DE PAGINA Y ELEMENTOS -->
        <div class="bg-none text-white d-inline-block align-text-center ms-5 mt-3">
            <h5 class="ms-5">
                | Página: <span class="bg-none " ></span> de <span class="bg-none "></span> |
            </h5>
        </div>

        <!-- ELEMENTOS SIN FILTRO -->
        <div class="bg-none text-white d-inline-block align-text-center ms-3 mt-3">

            <h5 class="" >
                | Elementos:<span class="bg-none " ></span> de <span class="bg-none " ></span> |
            </h5>
        </div>
        <!-- FIN ELEMENTOS SIN FILTRO -->
        <!-- FIN INFO NRO DE PAGINA Y ELEMENTOS -->
    </div>
    <!-- FIN PAGINACION -->
</div>
<!-- FIN LISTADO DE PRODUCTOS -->






<!--MODAL AYUDA -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" id="modalAyuda">
      <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel">Guía para Agregar un Producto</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Acerca del Formulario </h5>
        <p>Este formulario ayuda al administrador en agregar los productos de una forma fácil y práctica sin necesidad de inserción a través de consola de comandos o desde la base de datos.</p>
        <h5>Campos del Formulario</h5>
        <p>Todos los campos del formulario presentan validaciones según la arquitectura de la aplicación. Además se agrega en cada entrada una ejemplificación de valor.</p>
        <ul>
          <li><strong>Código:</strong> Este código hace referencia al producto, no es posible que existan duplicados, es válido solo letras, números y ciertos caracteres. Además de nu máximo de 10 digitos.</li>
          <li><strong>Nombre:</strong></li>
        </ul>
        <strong>CONTENIDO NO DISPONIBLE, CONTACTAR AL SOPORTE TÉCNICO</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
    <!--FIN MODAL AYUDA-->






<!--MODAL CHECK DELETE -->
<div class="modal fade" id="staticBackdrop02" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog"  >
    <div class="modal-content" id="modalCheckDelete">

        <div class="alert alert-danger alert-link" role="alert">
          <div class="d-flex d-row">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>

          <h5>
         Está Seguro que desea Eliminar el Producto {{nombrProdSelect}} ??
        </h5>
        </div>
          <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-success btn-sm p-1 m-1" data-bs-dismiss="modal">Cancelar</button>

            <button type="button" class="btn btn-danger btn-sm p-1 m-1" data-bs-dismiss="modal" (click)="eliminarProducto(idProdSelect)">Eliminar</button>
          </div>
          </div>


    </div>
  </div>
</div>
    <!--FIN MODAL CHECK DELETE-->
