
h1 {

  opacity: 0.8;
  color: white;
  background-color: #2C5D33;
  border-color: #1f4a25;
  border-radius: 1em;

}






#buscador {

  form{
    opacity: 0.9;
    background-color: #2C5D33;
    border-color: #1f4a25;
    border-radius: 1em;

    input{
      background-color: #0e2812;
    }
  }




}



#table {
    padding: 5px;
    background-color: #2C5D33;
    border-color: #14411a;
    opacity: 0.9;
    color: white;
    thead {
        background-color: #1c3d20;
        border-color: #254d2a;
        border-radius: 1em;
        .btn-sm {
            background-color: #254728;
            border: #0c3011;
            color: white;
        }
    }
    tbody {
        border-color: #0c3011;
        border-radius: 1em;
        padding: 1em;
    }
}

#pagination{
  background-color: #2C5D33;
  border-color: #14411a;
  border-radius: 1em;

  opacity: 0.9;
  color: white;
  .btn {
    background-color: none;
    border: #0c3011;
    color: white;
}
}



#modalAyuda{
  border-radius: 5px;
  border-color: #15351a;
  background-color: #2C5D33;
  opacity: 0.9;
  color: white;

  h3,h5 {

    text-decoration: underline;
  }
 }


 #modalCheckDelete{
  background: none;
  border: none;

  .alert{

  border-radius: 15px;
  border-color: #15351a;

    button{
      border-radius: 10px;
    }
  }


}





